.b-about {
  max-width: 1120px;
  margin: 0 auto;

  & > .container {
    @include bp($bp-1280) {
      overflow-x: hidden;
    }
  }

  .b-main-screen__title {
    padding-top: 0;
    padding-left: 0;

    h2 {
      margin-bottom: 38px;

      @include bp($bp-ipad-768) {
        margin-bottom: 28px;
      }
    }
  }

  @include bp($bp-720) {
    .block-square {
      display: none;
    }
  }

  @include bp($bp-540) {
    margin-bottom: 40px;
  }
}

.b-about--main {
  margin-top: 90px;

  @include bp($bp-ipad-768) {
    margin-top: 60px;
  }

  @include bp($bp-600) {
    margin-top: 74px;
  }
}

.b-about__container {
  width: 100%;
  //overflow: hidden;
}

.b-about-icons {
  width: calc(100% + 92px);
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;

  @include bp($bp-1280) {
    width: calc(100% + 70px);
  }

  @include bp($bp-1240) {
    width: calc(100% + 50px);
  }

  @include bp($bp-ipad-1024) {
    width: 100%;
    justify-content: space-between;
  }

  @include bp($bp-600) {
    margin-bottom: 30px;
  }

  .slick-list {
    padding-top: 15px;
  }

  .slick-arrow {
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 200;
    width: 21px;
    height: 28px;

    &:before {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include svg-ico-arrow-down;
    }
  }

  .slick-prev {
    transform: rotate(90deg);
    left: 0;
  }

  .slick-next {
    right: 0;
    transform: rotate(-90deg);
  }
}

.b-about-icons__item {
  width: calc(100% / 4);
  margin-bottom: 50px;

  @include bp($bp-ipad-to-table) {
    width: calc(100% / 3 - 32px);
  }

  @include bp($bp-600) {
    width: 100%;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

.b-about-icons__item-ico {
  position: relative;

  img {
    display: block;
    max-width: 100%;

    &:last-child {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.b-about-icons__item-text {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1;
  color: $black-two;
}

.b-about-left-text {
  max-width: 493px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: $black-two;
  margin-bottom: 90px;

  @include bp($bp-ipad-768) {
    max-width: 100%;
    margin-bottom: 60px;
  }

  @include bp($bp-600) {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.b-about-scope {
  display: flex;
  align-items: flex-start;
  margin-bottom: 130px;

  @include bp($bp-ipad-768) {
    margin-bottom: 60px;
  }

  @include bp($bp-600) {
    margin-bottom: 30px;
  }

  .b-about-scope__text {
    padding-left: 46px;

    @include bp($bp-600) {
      padding-left: 0;
    }
  }

  .b-about-scope__shadow {
    left: 22px;
    bottom: 5px;
  }

  .b-about-scope__img-bg {
    @include bp($bp-ipad-768) {
      bottom: -30px;
      right: -20px;
    }

    @include bp($bp-600) {
      right: 0;
      bottom: -20px;
      width: calc(100% - 20px);
    }
  }
}

.b-about-scope__img {
  display: flex;
  align-items: flex-start;
  width: 50%;

  @include bp($bp-600) {
    display: none;
    width: 100%;
    margin-bottom: 40px;
  }

  img {
    position: relative;
    z-index: 10;
    max-width: 100%;
  }
}

.b-about-scope__shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.5);
  background-color: $white;
  z-index: -1;

  @include bp($bp-ipad-768) {
    display: none;
  }
}

.b-about-scope__img-wrap {
  position: relative;
}

.b-about-scope__img-bg {
  position: absolute;
  bottom: -40px;
  right: -40px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(141deg, $pale-grey 15%, $off-white 96%);
  z-index: -2;
}

.b-about-scope__text {
  width: 50%;

  @include bp($bp-600) {
    width: 100%;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: $black-two;
    margin-bottom: 24px;

    @include bp($bp-ipad-768) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    @include bp($bp-600) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .b-about-scope__img {
    display: none;

    @include bp($bp-600) {
      display: block;
      position: relative;

      .b-about-scope__img-wrap {
        padding-right: 20px;
      }
    }

    .salad.salad--md {
      right: -60px;
      bottom: -33px;
      width: 172px;
      height: 146px;
      z-index: 99;
    }
  }
}

.b-about-work {
  display: flex;
  align-items: flex-start;
  margin-bottom: 144px;

  @include bp($bp-ipad-768) {
    margin-bottom: 134px;
  }

  @include bp($bp-600) {
    margin-bottom: 35px;
  }

  .b-about-scope__text {
    padding-right: 60px;

    @include bp($bp-ipad-768) {
      padding-right: 0;
      width: calc(50% - 60px);
    }

    @include bp($bp-600) {
      padding-right: 0;
      width: 100%;
    }
  }

  .b-main-screen__title {
    h3 {
      font-size: 28px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 30px;

      @include bp($bp-ipad-768) {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
      }

      @include bp($bp-600) {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  .b-about-scope__img {
    margin-top: 84px;
    margin-left: -60px;

    @include bp($bp-ipad-768) {
      width: calc(50% + 60px);
      margin-left: 0;
      margin-top: 72px;
    }

    @include bp($bp-600) {
      width: 100%;
      margin-top: 0;
    }
  }

  .b-about-scope__img-bg {
    width: 80%;

    @include bp($bp-ipad-768) {
      right: -34px;
      bottom: -34px;
    }

    @include bp($bp-600) {
      right: 0;
      bottom: -20px;
      width: calc(82% - 20px);
    }
  }

  .b-about-scope__shadow {
    left: 107px;
    bottom: 5px;
    width: 50%;
  }

  .button {
    @include bp($bp-ipad-1024) {
      margin-bottom: 82px;
    }

    @include bp($bp-600) {
      margin: 0 auto;
    }
  }
}


.b-about-two-text {
  margin-bottom: 50px;

  @include bp($bp-ipad-768) {
    margin-bottom: 20px;
  }

  @include bp($bp-600) {
    margin-bottom: 0;
  }
}

.b-about-two-text__row {
  display: flex;
  flex-wrap: wrap;

  h2 {
    font-family: $Lato;
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    color: $black-two;
    margin-bottom: 20px;

    @include bp($bp-600) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
    }
  }
}

.b-about-two-text__title {
  width: 428px;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: $Intro;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  color: $black-two;
  text-align: center;
  margin: 0 auto 42px;

  @include bp($bp-600) {
    width: 280px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  i {
    position: absolute;
    display: block;
    width: 83px;
    height: 40px;
    font-style: normal;
    background-color: $leaf;
    line-height: 42px;
    color: #fff;
    text-align: center;
    margin: 0 4px;
    left: 57px;
    top: -7px;


    @include bp($bp-600) {
      left: 20px;
      top: -3px;
      width: 65px;
      height: 36px;
      line-height: 36px;
    }
  }

  br {
    &:nth-child(2) {
      display: none;

      @include bp($bp-600) {
        display: block;
      }
    }

    &:nth-child(3) {
      @include bp($bp-600) {
        display: none;
      }
    }
  }
}

.b-about-two-text__title--safari {
  width: 450px;

  i {
    left: 62px;
  }

  @include bp($bp-600) {
    width: 292px;

    i {
      left: 18px;
    }

  }
}

.b-about-two-text__text {
  width: 50%;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: $black-two;

  @include bp($bp-ipad-768) {
    font-size: 14px;
    line-height: 24px;
  }

  @include bp($bp-600) {
    width: 100%;
  }

  &:first-child {
    padding-right: 46px;

    @include bp($bp-ipad-768) {
      padding-right: 20px;
    }

    @include bp($bp-600) {
      padding-right: 0;
    }
  }

  &:last-child {
    padding-left: 46px;

    @include bp($bp-ipad-768) {
      padding-left: 20px;
    }

    @include bp($bp-600) {
      padding-left: 0;
      margin-top: 20px;
    }
  }
}

.b-about-history {
  width: calc(100% + 260px);
  margin-left: -130px;
  margin-bottom: 100px;
  overflow: hidden;
  padding-top: 60px;

  @include bp($bp-1366) {
    width: calc(100% + 160px);
    margin-left: -80px;
  }

  @include bp($bp-1280) {
    width: calc(100% + 100px);
    margin-left: -50px;
  }

  @include bp($bp-1240) {
    width: calc(100% + 50px);
    margin-left: -25px;
  }


  @include bp($bp-ipad-1024) {
    width: calc(100% + 40px);
    margin-left: -20px;

  }

  @include bp($bp-ipad-768) {
    width: calc(100% + 68px);
    margin-left: -34px;
    margin-bottom: 50px;
  }

  @include bp($bp-600) {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .b-main-screen__title--center {
    @include bp($bp-600) {
      text-align: left;
      margin-left: 20px;

      h2 {
        &:after {
          right: auto;
        }
      }
    }
  }
}

.b-about-history__path {
  position: absolute;
  top: 130px;
  left: 50px;
  width: 1076px;
  height: 226px;
  background-size: contain;
  background-image: url("../images/about/path.svg");

  @include bp($bp-ipad-768) {
    top: 91px;
    left: 140px;
  }

  @include bp($bp-600) {
    display: none;
  }
}

.b-about-history__progress {
  position: relative;
  margin-top: 74px;
  display: flex;
  justify-content: space-between;

  @include bp($bp-1240) {
    max-width: 768px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  @include bp($bp-ipad-768) {
    margin-top: 64px;
    padding: 0 34px;
  }

  @include bp($bp-600) {
    padding: 0 20px;
  }

  .slick-arrow {
    top: 120px;
    margin: auto;
    z-index: 200;
    width: 21px;
    height: 28px;

    &:before {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include svg-ico-arrow-down;
    }
  }

  .slick-prev {
    transform: rotate(90deg);
    left: 20px;
  }

  .slick-next {
    right: 20px;
    transform: rotate(-90deg);
  }
}

.b-about-history__progress--1 {
  @include bp($bp-1240) {
    .b-about-history__item {
      &:nth-child(5) {
        display: none;
      }
      &:nth-child(6) {
        display: none;
      }
    }
  }
}

.b-about-history__progress--2 {
  display: none;
  margin-top: -40px;

  @include bp($bp-1240) {
    display: flex;
  }

  @include bp($bp-ipad-768) {
    margin-top: -20px;
  }

  .b-about-history__path {
    @include bp($bp-ipad-768) {
      left: -120px;
    }
  }

  @include bp($bp-600) {
    display: none;
  }

  .b-about-history__path {
      left: -145px;
  }
}

.b-about-history__item {
  position: relative;

  @include bp($bp-600) {
    margin: auto!important;
  }

  span {
    margin-top: 20px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    @include bp($bp-600) {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  &:hover {
    .b-about-history__tooltip {
      opacity: 1;
      visibility: visible;

      @include bp($bp-ipad-1024) {
        opacity: 0;
        visibility: hidden;
      }

      @include bp($bp-600) {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.b-about-history__tooltip {
  opacity: 0;
  visibility: hidden;
  width: 340px;
  position: absolute;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: $white;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: $black-two;
  padding: 20px;
  transition: .3s ease-in-out all;
  z-index: 20;

  b {
    font-weight: bold;
  }

  @include bp($bp-600) {
    opacity: 1;
    visibility: visible;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    padding: 0;
    margin-top: 10px;
    position: static;

    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -20px;
    left: 30px;
    box-sizing: border-box;
    border: 10px solid black;
    border-color: transparent transparent $white $white;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.05);
  }
}

.b-about-history__item-circle {
  position: relative;
  background-color: #f3f8fc;
  border-radius: 50%;

  @include bp($bp-600) {
    width: auto!important;
    height: 226px!important;
   background-color: transparent;
  }

  img {
    position: absolute;
    display: block;
    max-width: 100%;
    object-fit: cover;

    @include bp($bp-600) {
      position: static;
      margin: 0 auto;
      object-fit: contain;
      width: 100%!important;
      height: 100%!important;
    }

  }
}

.b-about-history__item--1 {
  margin-top: 130px;

  @include bp($bp-ipad-768) {
    margin-top: 20px;
  }

  .b-about-history__item-circle {
    width: 143px;
    height: 143px;
  }

  .b-about-history__tooltip {
    top: -240px;
    left: 20px;
  }
}

.b-about-history__item--2 {
  margin-top: 257px;

  @include bp($bp-ipad-768) {
    margin-top: 170px;
  }

  .b-about-history__item-circle {
    width: 160px;
    height: 160px;
  }

  img {
    top: -104px;
    width: 123px;
    height: 241px;
  }

  .b-about-history__tooltip {
    top: -350px;
    left: 40px;
  }
}

.b-about-history__item--3 {
  margin-top: 15px;
  margin-left: -40px;

  @include bp($bp-ipad-768) {
    margin-top: 0;
  }

  .b-about-history__item-circle {
    width: 260px;
    height: 260px;
  }

  img {
    width: 248px;
    height: 222px;
  }

  .b-about-history__tooltip {
    top: -170px;
    left: 90px;
  }
}


.b-about-history__item--4 {
  margin-top: 200px;

  @include bp($bp-ipad-768) {
    margin-top: 0;
  }

  .b-about-history__item-circle {
    width: 271px;
    height: 271px;

    @include bp($bp-720) {
      width: 200px;
      height: 200px;
    }
  }

  img {
    left: 0;
    right: 0;
    margin: auto;
    width: 249px;
    height: 250px;

    @include bp($bp-720) {
      width: 190px;
      height: 160px;
      object-fit: contain;
    }
  }

  .b-about-history__tooltip {
    top: -170px;
    left: 90px;
  }
}

.b-about-history__item--5 {
  margin-top: 41px;

  @include bp($bp-ipad-768) {
    margin-top: 0;
  }

  .b-about-history__item-circle {
    width: 360px;
    height: 360px;

    @include bp($bp-720) {
      width: 260px;
      height: 260px;
    }
  }

  .b-about-history__tooltip {
    top: -196px;
    left: -126px;

    &:after {
      left: auto;
      right: 30px;
    }
  }
}


.b-about-diag {
  margin-bottom: 150px;

  @include bp($bp-ipad-to-table) {
    margin-bottom: 120px;
  }

  @include bp($bp-600) {
    margin-bottom: 100px;
  }
}

.b-about-diag__right {
  @include bp($bp-600) {
    align-self: center;
  }
}

.b-about-diag__salad {
  position: relative;
  width: 100%;
  display: none;

  @include bp($bp-600) {
    display: block;
  }
  .salad--sm {
    z-index: 10;
    &:first-child {
      width: 164px;
      height: 141px;
      right: -80px;
      top: -280px;
    }
    &:last-child {
      top: -100px;
      left: -100px;
      width: 135px;
      height: 116px;
    }
  }
}

.b-about-diag__container {
  margin-top: 188px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include bp($bp-ipad-to-table) {
    align-items: center;
    flex-direction: column;
    margin-top: 168px;
  }

  @include bp($bp-600) {
    margin-top: 31px;
    align-items: flex-start;
  }
}

.b-about-diag__left {
  @include bp($bp-1280) {
    padding-left: 50px;
  }

  @include bp($bp-ipad-to-table) {
    padding-left: 0;
  }

  @include bp($bp-600) {
    display: none;
  }
}

.b-about-diag__lines {
  display: none;

  @include bp($bp-600) {
   display: block;
    margin-bottom: 114px;
  }
}

.b-about-diag__lines-item {
  margin-bottom: 15px;
}

.b-about-diag__lines-name {
  font-size: 14px;
  line-height: 24px;
  color: $black;
  margin-bottom: 3px;
}

.b-about-diag__lines-progress {
  display: flex;
  align-items: center;
}

.b-about-diag__lines-line {
  height: 10px;
  border-radius: 7.5px;
  margin-right: 10px;

  &--1 {
    width: 110px;
    background-color: $leaf;
  }
  &--2 {
    width: 130px;
    background-color: #e8f1fa;

  }
  &--3 {
    width: 80px;
    background-color: #f9d89c;
  }
  &--4 {
    width: 20px;
    background-color: #f07b7b;
  }
  &--5 {
    width: 10px;
    background-color: #fcb360;
  }
  &--6 {
    width: 5px;
    background-color: #91a3e2;
  }
}

.b-about-diag__lines-number {
  font-size: 12px;
  line-height: 1;
  color: #9d9d9d;
}

.b-about-diag__lg {
  position: relative;
  width: 530px;
  height: 530px;
  //background-color: #e8f1fa;

  @include bp($bp-ipad-to-table) {
    margin-bottom: 200px;
  }
}

.b-about-diag__gr {
  position: absolute;
  top: 0;
  left: 0;
  width: 530px;
  height: 530px;
  transition: .3s ease-in-out all;

  &.active {
    transform: scale(1.06);
    z-index: 9;
  }
}

.b-about-diag__gr--0 {
  background-image: url("../images/about/graph/1.svg");
}

.b-about-diag__gr--1 {
  background-image: url("../images/about/graph/2.svg");
}

.b-about-diag__gr--2 {
  background-image: url("../images/about/graph/3.svg");
}
.b-about-diag__gr--3 {
  background-image: url("../images/about/graph/4.svg");
}
.b-about-diag__gr--4 {
  background-image: url("../images/about/graph/5.svg");
}
.b-about-diag__gr--5 {
  background-image: url("../images/about/graph/6.svg");
}
.b-about-diag__gr--6 {
  background-image: url("../images/about/graph/7.svg");
}


.b-about-diag__md {
  position: relative;
  width: 240px;
  height: 240px;
  background-color: $white;

  @include bp($bp-ipad-1024) {
    background-color: transparent;
  }
}


.b-about-diag__md-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 240px;
  background-image: url("../images/about/graph/graph_stat.svg");
}

.b-about-diag__md-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 12px;
  color: $black;
}


.b-about-diag__icon {
  position: absolute;
  padding-top: 60px;

  span {
    width: 60px;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
  }

  .b-about-history__tooltip {
    width: 370px;
    bottom: 106px;
    left: -13px;
    padding: 18px;
  }

  &:hover {
    .b-about-history__tooltip {
      opacity: 1;
      visibility: visible;

      @include bp($bp-ipad-1024) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &.active {
    .b-about-history__tooltip {
      opacity: 1;
      visibility: visible;

      @include bp($bp-ipad-1024) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.b-about-diag__circle {
  width: 100px;
  height: 100px;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 50%;
}

.b-about-diag__icon--1 {
  top: 84px;
  left: -45px;

  &:after {
    background-image: url("../images/about/graph-1.svg");
  }

  .b-about-history__tooltip {

  }
}

.b-about-diag__icon--2 {
  top: -63px;
  left: 90px;

  &:after {
    background-image: url("../images/about/graph-2.svg");
  }
}

.b-about-diag__icon--3 {
  top: -100px;
  left: 180px;

  &:after {
    background-image: url("../images/about/graph-3.svg");
  }
}

.b-about-diag__icon--4 {
  top: -100px;
  left: 245px;

  &:after {
    background-image: url("../images/about/graph-4.svg");
  }
}

.b-about-diag__icon--5 {
  top: 35px;
  right: -50px;

  &:after {
    background-image: url("../images/about/graph-5.svg");
  }
}

.b-about-diag__icon--6 {
  top: -110px;
  right: 20px;

  @include bp($bp-ipad-768) {
    right: -26px;
    top: -90px;
  }

  span {
    width: 107px;
  }
  &:after {
    right: 0;
    margin: auto;
    background-image: url("../images/about/graph-6.svg");
  }
}

.b-about-diag__icon--7 {
  bottom: -80px;
  left: 90px;

  &:after {
    background-image: url("../images/about/graph-7.svg");
  }
}

.b-about-diag__icon--8 {
  bottom: -66px;
  left: -40px;

  @include bp($bp-ipad-768) {
    left: -30px;
    bottom: -60px;
  }

  span {
    width: 107px;
  }
  &:after {
    right: 0;
    margin: auto;
    background-image: url("../images/about/graph-8.svg");
  }
}


.b-about-offer {
  position: relative;
  padding-top: 80px;

  @include bp($bp-ipad-768) {
    padding-top: 50px;
  }

  @include bp($bp-600) {
    padding-top: 30px;
  }

  .b-main-screen__gradient {
    height: calc(100% + 145px);

    @include bp($bp-ipad-1024) {
      height: calc(100% + 85px);
    }

    @include bp($bp-540) {
      height: calc(100% + 76px);
    }
  }

  .b-main-screen__lines {
    .b-main-screen__lines-item {
      &:nth-child(5) {
        background-color: transparent;
      }
      &:nth-child(6) {
        @include bp($bp-ipad-768) {
          background-color: transparent;
        }
      }
    }
  }

  .b-main-screen__title {
    h2 {
      @include bp($bp-540) {
        max-width: 200px;
      }
    }
  }
}

.b-about-offer__block {
  margin-bottom: 16px;

  @include bp($bp-ipad-768) {
    margin-bottom: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.b-about-offer__title {
  font-size: 18px;
  line-height: 24px;
  color: $black;
  margin-bottom: 28px;

  @include bp($bp-ipad-768) {
    margin-bottom: 20px;
  }

  @include bp($bp-600) {
    text-align: center;
    margin-bottom: 20px;
  }

  @include bp($bp-375) {
    font-size: 16px;
  }
}

.b-about-offer__list {
  display: flex;
  flex-wrap: wrap;
  @include bp($bp-600) {
    margin-bottom: 20px;
  }


  .slick-arrow {
    top: 18px;
    z-index: 200;
    width: 21px;
    height: 28px;

    &:before {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include svg-ico-arrow-down;
    }
  }

  .slick-prev {
    transform: rotate(90deg);
    left: 0;
  }

  .slick-next {
    right: 0;
    transform: rotate(-90deg);
  }
}

.b-about-offer__item {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  @include bp($bp-ipad-to-table) {
    padding-right: 40px;
  }

  @include bp($bp-600) {
    padding-right: 0;
    text-align: center;
    margin-bottom: 0;
  }

  &:nth-child(even) {
    padding-left: 120px;

    @include bp($bp-ipad-to-table) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include bp($bp-ipad-to-table) {
    img {
      align-self: flex-start;
      @include bp($bp-600) {
        margin: 0 auto 20px;
      }
    }
  }

  p {
    margin-left: 20px;
    max-width: 310px;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: $black-two;
    margin-bottom: 0;

    @include bp($bp-600) {
      max-width: 360px;
      margin: 0 auto;
    }

    @include bp($bp-360) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.b-about__pepper-1 {
  position: relative;

  .pepper-5 {
    right: 137px;
    top: -205px;

    @include bp($bp-600) {
      display: none;
    }
  }

  .pepper-4 {
    left: 110px;
    top: -150px;

    @include bp($bp-ipad-1024) {
      top: -160px;
      left: -10px;
      width: 109px;
      height: 91px;
    }
    @include bp($bp-600) {
      display: none;
    }

  }

  .salad--md {
    display: block;
    width: 261px;
    height: 224px;
    left: 0;
    right: 0;
    margin: auto;
    top: -200px;

    @include bp($bp-ipad-1024) {
      width: 181px;
      height: 155px;
    }

    @include bp($bp-ipad-768) {
      left: 150px;
      top: -170px;
      right: auto;
    }

    @include bp($bp-600) {
      width: 120px;
      height: 103px;
      left: 0;
      right: 0;
      top: -130px;
    }
  }
}


.b-about__block-relative {
  position: relative;
}

.b-about__block-relative--1 {
  .block-square {
    z-index: -1;

    &:first-child {
      top: 30px;
      left: -70px;

      @include bp($bp-ipad-768) {
        width: 210px;
        left: -35px;
        top: -12px;
      }
    }

    &:last-child {
      width: 203px;
      right: 133px;
      bottom: -480px;

      @include bp($bp-ipad-768) {
        width: 174px;
        right: 0;
        bottom: -301px;
      }
    }
  }
}

.b-about__block-relative--2 {
  .leaves--1 {
    right: 60px;
    top: -180px;

    @include bp($bp-ipad-768) {
      right: 200px;
      top: -200px;
    }

    @include bp($bp-600) {
      display: none;
    }
  }
}

.b-about__block-relative--3 {
  .block-square {
    z-index: -1;

    &:first-child {
      top: -110px;
      left: -273px;
    }
  }
}

.b-about__block-relative--4 {

  @include bp($bp-600) {
    display: none;
  }

  .salad--md {
    width: 244px;
    height: 209px;
    z-index: 0;
    top: -25px;
    left: 150px;
    right: 0;
    margin: auto;

    @include bp($bp-ipad-768) {
      left: -105px;
      right: auto;
      top: -300px;
      z-index: 10;

    }
  }
}

.b-about__block-relative--5 {

  @include bp($bp-600) {
    display: none;
  }

  z-index: 10;

  .steak {
    top: -300px;
    left: -215px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

    width: 426px;
    height: 382px;
    background-image: url("../images/about/steak.png");

    @include bp($bp-ipad-768) {
      top: -190px;
      left: -70px;
      width: 228px;
      height: 200px;
    }
  }

  .pepper-7 {
    top: -154px;
    right: 95px;
    z-index: 2;
  }
}

.b-about__block-relative--6 {
  .salad--md {
    right: -60px;
    width: 244px;
    height: 209px;
    top: -40px;
    z-index: 0;

    @include bp($bp-1240) {
      right: 0;
      top: -50px;
    }

    @include bp($bp-ipad-768) {
      width: 218px;
      height: 187px;
      right: -110px;
      top: 0;
    }

    @include bp($bp-600) {
      width: 129px;
      height: 111px;
      right: -65px;
      top: 10px;
    }
  }
}

.b-about__block-relative--7 {
  .block-square--gradient {
    width: 202px;
    top: 30px;
    right: 0;
    left: -203px;
    margin: auto;

    @include bp($bp-ipad-768) {
      width: 174px;
      height: 174px;
      left: -175px;
    }
  }
}

.b-about__block-relative--8 {

  @include bp($bp-600) {
    display: none;
  }

  .block-square--gradient {
    width: 203px;
    top: -22px;
    right: 133px;

    @include bp($bp-ipad-768) {
      display: none;
    }
  }

  .pepper-5 {
    top: 42px;
    right: 0;
  }
}

.b-about__block-relative--9 {
  .salad--sm {
    top: -70px;
    width: 182px;
    height: 156px;
    left: 80px;
    right: 0;
    margin: auto;

    @include bp($bp-ipad-1024) {
      right: 110px;
      left: auto;
    }

    @include bp($bp-600) {
      width: 136px;
      height: 116px;
      right: 12px;
    }
  }

  .pepper-3 {
    top: -13px;
    left: 60px;

    @include bp($bp-ipad-1024) {
      top: -25px;
    }

    @include bp($bp-ipad-768) {
      display: none;
    }
  }
}

.b-about__block-relative--10 {

  @include bp($bp-ipad-1024) {
    display: none;
  }
  .block-square {
    &:nth-child(1) {
      top: 155px;
      left: -275px;
    }

    &:nth-child(2) {
      top: -172px;
      right: -69px;
      width: 201px;

      @include bp($bp-1240) {
        display: none;
      }
    }

    &:nth-child(3) {
      width: 201px;
      left: 339px;
      top: 560px;
    }
  }
}
