.b-footer {
  width: 100%;
  height: 145px;
  overflow: hidden;

  @include bp($bp-ipad-1024) {
    height: 85px;
  }

  @include bp($bp-540) {
    height: 145px;
    margin-top: -68px;
  }

  .container {
    height: 100%;
  }
}

.b-footer__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 30px;

  @include bp($bp-540) {
    padding-top: 68px;
    justify-content: center;
  }

  .salad--md-2 {
    position: absolute;
    bottom: -98px;
    left: 450px;
    right: 0;
    margin: auto;

    @include bp($bp-ipad-1024) {
      bottom: -140px;
      left: 132px;
    }

    @include bp($bp-540) {
      left: -96px;
      right: auto;
      top: 0;
      bottom: auto;
      width: 135px;
      height: 115px;
    }
  }

  @include bp($bp-540) {
    align-items: center;
    flex-direction: column;
  }
}
.b-footer__copy {
  position: relative;
  z-index: 10;
  font-size: 14px;
  line-height: 14px;
  color: $black-two;

  @include bp($bp-540) {
    font-size: 12px;
  }
}

.b-footer__link {
  position: relative;
  z-index: 10;
  font-size: 14px;
  line-height: 1;
  color: $black-two;

  @include bp($bp-540) {
    margin-top: 10px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}


.b-footer__image {
  position: absolute;
  left: 243px;
  bottom: 0;
  width: 202px;
  height: 132px;
  z-index: 0;

  @include bp($bp-ipad-1024) {
    display: none;
  }

  .pepper-6 {
    position: absolute;
    top: -2px;
    right: -45px;
    margin: auto;
    z-index: 10;
  }

  .block-square {
    left: 1px;
    width: 203px;
    bottom: -70px;
  }
}
