.b-header {
  width: 100%;
  position: absolute;
  top: 30px;
  z-index: 1000;

  @include bp($bp-540) {
    top: 15px;
  }

  .container {
    @include bp($bp-540) {
      padding: 0 18px;
    }
  }
}

.b-header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-header__mobile-menu {
  display: none;
  width: 50px;
  height: 50px;
  background-color: $pale-grey;
  border-radius: 50%;
  padding: 0 13px;

  span {
    height: 3px;
    border-radius: 2.5px;
    background-color: $leaf;

    &:nth-child(1) {
      width: 20px;
    }
    &:nth-child(2) {
      width: 25px;
      margin: 6px 0;
    }
    &:nth-child(3) {
      width: 15px;
    }
  }

  @include bp($bp-ipad-768) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.b-header__logo {
  @include svg-ico-logo;

  @include bp($bp-ipad-768) {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include bp($bp-540) {
    top: 50%;
    @include svg-ico-logo-min;
  }
}

.b-header__menu {
  display: flex;
  align-items: center;
}

.b-header__menu-item {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  margin-left: 40px;

  &:hover {
    &:before {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $leaf;
    transform: translateY(-3px);
    opacity: 0;
    transition: .3s ease-in-out all;
  }

  @include bp($bp-ipad-1024) {
    margin-left: 20px;
  }

  @include bp($bp-ipad-768) {
    display: none;
  }
}

.b-header__menu-item--lang {
  width: 40px;
  height: 40px;
  border: solid 2px $leaf;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: $leaf;
  border-radius: 50%;
  transition: .3s ease-in-out all;

  &:before {
    display: none;
  }

  &:hover {
    background-color: $leaf;
    color: $white;
  }


  @include bp($bp-ipad-768) {
    display: block;
  }
}

.b-header__menu-item--sssr {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #d90000;
  margin-left: 10px;

  &:before {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include svg-icon-sssr;
  }

  @include bp($bp-ipad-768) {
    display: block;
  }
  @include bp($bp-540) {
    margin-left: 8px;
  }
}
