.b-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.b-news__item {
  position: relative;
  width: calc(100%/3 - (60px*2)/3);
  margin-bottom: 40px;

  @include bp($bp-ipad-1024) {
    width: calc(100%/3 - (20px*2)/3);
    margin-bottom: 30px;
  }

  @include bp($bp-ipad-768) {
    width: calc(50% - 10px);
  }

  @include bp($bp-540) {
    width: 100%;
  }
}

.b-news__item-img {
  margin-bottom: 20px;
}


.b-news__item-date {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $black-two;
  margin-bottom: 15px;
}

.b-news__item-title {
  font-size: 18px;
  line-height: 28px;
  color: $black;
  margin-bottom: 15px;

  @include bp($bp-540) {
    margin-bottom: 10px;
  }
}

.b-news__item-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $black-two;
}

.b-news__control {
  display: flex;
  justify-content: center;


  @include bp($bp-ipad-1024) {
    margin-bottom: 35px;
  }

  @include bp($bp-540) {
    margin-bottom: 80px;
  }
}

.b-news__item-block {
  position: absolute;
  z-index: -1;

  @include bp($bp-ipad-1024) {
    display: none
  }
}

//
//
// --mod
//
//

.b-news__item--full {
  width: calc(66.666% - 20px);

  @include bp($bp-ipad-1024) {
    width: calc(66.666% - 7px);
  }

  @include bp($bp-ipad-768) {
    width: calc(50% - 10px);
  }

  @include bp($bp-540) {
    width: 100%;
    height: 400px;
  }

  .b-news__item-text {
    max-width: 410px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 10;

    @include bp($bp-540) {
      padding-right: 20px;
      bottom: 20px;
      left: 20px;
    }
  }

  .b-news__item-title {
    font-size: 24px;
    color: $white;
  }

  .b-news__item-desc {
    color: rgba(255, 255, 255, 0.9);
  }

  .b-news__item-img {
    position: relative;
    margin-bottom: 0;
    height: calc(100% - 24px - 15px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0) 86%);
    }
  }
}

.b-news__item-block--bottom {
  bottom: 180px;
  left: -70px;
}

.b-news__item-block--top {
  top: -15px;
  left: -16px;
}

.b-news__item-block--right {
  top: 160px;
  right: 24px;
  z-index: 1;
}

.b-news__item-block--left {
  z-index: 1;
  top: 160px;
  left: -150px;
}
