.b-pattern {
  padding-top: 200px;
  overflow-x: hidden;
  //!!!!
  //!!!!
  //!!!!
  //!!!!
  //!!!!
}

.b-pattern--news {
  padding-top: 150px;

  @include bp($bp-ipad-to-table) {
    padding-top: 187px;
  }
}

.b-pattern--contacts {
  padding-top: 130px;

  @include bp($bp-ipad-768) {
    padding-top: 190px;
  }
}

.b-pattern--news-detail {
  padding-top: 170px;

  @include bp($bp-540) {
    padding-top: 187px;
  }

  .b-pattern__title {
    margin-bottom: 40px;
  }
}

.b-pattern--team {
  padding-top: 170px;

  @include bp($bp-ipad-to-table) {
    padding-top: 187px;
  }

  @include bp($bp-540) {
    overflow: visible;
  }

  .b-pattern__title p {
    font-size: 18px;
    line-height: 28px;

    @include bp($bp-540) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.b-pattern--catalog {
  padding-top: 110px;

  @include bp($bp-ipad-1024) {
    padding-top: 130px;
  }

  @include bp($bp-540) {
    padding-top: 110px;
  }

  .b-pattern__title {
    margin-bottom: 0;
  }

  .b-pattern__container {
    max-width: calc(1300px + 20px*2);
    padding: 0 20px;

    @include bp($bp-ipad-to-table) {
      padding: 0;
    }
  }
}

.b-pattern__container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;

  @include bp($bp-ipad-768) {
    padding: 0 34px;
  }
  @include bp($bp-540) {
    padding: 0 20px;
  }
}

.b-pattern__title {
  position: relative;
  margin-bottom: 54px; // news

  @include bp($bp-540) {
    margin-bottom: 40px;
  }

  h1 {
    max-width: 640px;
    position: relative;

    @include bp($bp-ipad-768) {
      max-width: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100px;
      height: 4px;
      background-color: $leaf;

      @include bp($bp-540) {
        width: 70px;
      }
    }

    & + p {
      margin-top: 30px;
    }
  }

  p {
    max-width: 530px;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: $black-two;

    @include bp($bp-ipad-768) {
      max-width: 430px;
      font-size: 18px;
      line-height: 28px;
    }

    @include bp($bp-540) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.b-pattern__title--center {
  text-align: center;
  h1 {
    max-width: 100%;
    &:after {
      right: 0;
      margin: auto;
    }
  }

  p {
    font-size: 20px;
    line-height: 32px;
    margin: 0 auto;
  }
}

.b-pattern__title--contacts {
  margin-bottom: 30px;

  @include bp($bp-ipad-768) {
    text-align: left;
  }

  h1 {
    @include bp($bp-ipad-768) {
      &:after {
        right: auto;
      }
    }
    & + p {
      margin-top: 20px;

      @include bp($bp-ipad-768) {
        max-width: 328px;
        text-align: left;
        margin-left: 0;
        font-size: 16px;
        line-height: 24px;
      }

      @include bp($bp-540) {
        font-size: 14px;
      }
    }
  }
}

.b-pattern__label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: $white;
  border-radius: 12px;
  background-color: $leaf;

  @include bp($bp-ipad-768) {
    display: inline-block;
    position: static;
    margin-bottom: 20px;
  }

  @include bp($bp-540) {
    margin-bottom: 10px;
  }
}
