@font-face {
  font-family: 'Intro Book Alt';
  src: url('./fonts/Intro-Book-Alt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Book';
  src: url('./fonts/Intro-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('Lato-Light'), url('./fonts/latolight.woff2') format('woff2'), url('./fonts/latolight.woff') format('woff'), url('./fonts/latolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('./fonts/latolightitalic.woff2') format('woff2'), url('./fonts/latolightitalic.woff') format('woff'), url('./fonts/latolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('./fonts/latoregular.woff2') format('woff2'), url('./fonts/latoregular.woff') format('woff'), url('./fonts/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
