.button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 0 18px;
  border: solid 2px $leaf;
  background-color: $white;
  text-align: center;
  transition: .3s ease-in-out all;
  cursor: pointer;

  &:hover {
    background-color: $leaf;

    span {
      color: $white;

      &:after {
        @include svg-ico-arrow-down-white;
      }
    }
  }

  span {
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    line-height: 46px;
    color: $leaf;
    padding-right: 49px;
    white-space: nowrap;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      @include svg-ico-arrow-down-green;
      transform: rotate(-90deg);
    }
  }

  @include bp($bp-540) {
    width: 100%;
  }
}

.button--down {
  span {
    padding-right: 36px;
    &:after {
      transform: none;
    }

    @include bp($bp-540) {
      width: 112px;
      margin: 0 auto;
      padding-right: 20px;
      box-sizing: content-box;
    }
  }
}

.button--main {
  span {
    @include bp($bp-540) {
      width: 112px;
      margin: 0 auto;
      padding-right: 38px;
      box-sizing: content-box;
    }
  }
}

.button--about {
  span {
    @include bp($bp-540) {
      width: 112px;
      margin: 0 auto;
      padding-right: 34px;
      box-sizing: content-box;
    }
  }
}
