.leaves {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;

  width: 222px;
  height: 202px;
  background-image: url("../images/leaves.png");

  @include bp($bp-ipad-768) {
    width: 185px;
    height: 168px;
  }
}

.leaves--1 {
  width: 240px;
  height: 223px;
  background-image: url("../images/about/leaves-about.png");

  @include bp($bp-ipad-768) {
    width: 185px;
    height: 168px;
  }
}
