.pepper {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.pepper-1 {
  width: 133px;
  height: 160px;
  background-image: url("../images/pepper/pepper_1.png");

  @include bp($bp-540) {
    width: 91px;
    height: 130px;
  }
}

.pepper-2 {
  width: 136px;
  height: 106px;
  background-image: url("../images/pepper/pepper_2.png");

  @include bp($bp-540) {
    width: 100px;
    height: 83px;
  }
}

.pepper-3 {
  width: 103px;
  height: 88px;
  background-image: url("../images/pepper/pepper_3.png");
}

.pepper-4 {
  width: 144px;
  height: 130px;
  background-image: url("../images/pepper/pepper_4.png");
}

.pepper-5 {
  width: 198px;
  height: 200px;
  background-image: url("../images/pepper/pepper_5.png");
}

.pepper-6 {
  width: 121px;
  height: 96px;
  background-image: url("../images/pepper/pepper_6.png");
}

.pepper-7 {
  width: 149px;
  height: 118px;
  background-image: url("../images/pepper/pepper_7.png");
}
