extends _layout

block title
    title 404
block content
    .page.page--404.js-parallax
        .b-main-screen.b-main-screen--first.b-main-screen--layout.b-main-screen--404
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-3
                .salad.salad--sm

                .pepper.pepper-1.js-parallax-layer(data-parallax-deep="70")
                .pepper.pepper-2
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="190")
                .pepper.pepper-4
                .pepper.pepper-5.parallax-6


        .b-pattern
            .b-pattern__container
                .b-pattern__content
                    .b-error
                        .b-error__img
                            img(src='./images/404.png' alt='')
                            img(src='./images/404_hover.png' alt='')
                        .b-error__title
                            span Error
                            span Houston, we have problems
                            span Broken but not broken
                            span We wanted the best ..
                            span Together we will turn the mountains! Well, or we’ll break firewood ...
                            span Clever thoughts haunt me all the time but I'm faster

                        .b-error__desc Incorrectly typed address or page the site no longer exists.
                        a(href='').b-error__link Go to Main page



