include mixins/_all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="format-detection" content="telephone=no")

        link(rel="shortcut icon" type="image/png" href="")
        link(rel='stylesheet' href="./css/style.css?v-5")
        script.
          let vh = window.innerHeight * 0.01;
          document.documentElement.style.setProperty('--vh', `${vh}px`);

        block title
            title Заголовок по умолчанию
    body
        .b-line-pattern
            .container
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
        .b-header
            .b-mobile-menu
                .b-mobile-menu__bg
                .b-mobile-menu__wrap
                    .b-mobile-menu__links
                        a(href='').b-header__menu-item.b-header__menu-item--lang Ru
                        a(href='').b-header__menu-item.b-header__menu-item--sssr
                    .b-mobile-menu__skew-clone
                    .b-mobile-menu__close.js-close-menu
                    .b-mobile-menu__skew
                        .b-mobile-menu__salad-1
                            .salad.salad--md
                        .b-mobile-menu__salad-2
                            .salad.salad--md
                        .b-mobile-menu__salad-3
                            .salad.salad--md
                        .b-mobile-menu__salad-4
                            .salad.salad--md

                        .b-mobile-menu__bottom
                        .b-mobile-menu__bottom-2
                        .b-mobile-menu__list
                            a(href='').b-mobile-menu__item.b-mobile-menu__item--active About
                            a(href='').b-mobile-menu__item Products
                            a(href='').b-mobile-menu__item Staff
                            a(href='').b-mobile-menu__item News
                            a(href='').b-mobile-menu__item Contacts
                        .b-mobile-menu__soc
                            a(href='').b-mobile-menu__soc-item.b-mobile-menu__soc-item--vk
                            a(href='').b-mobile-menu__soc-item.b-mobile-menu__soc-item--inst
                            a(href='').b-mobile-menu__soc-item.b-mobile-menu__soc-item--fb
                            a(href='').b-mobile-menu__soc-item.b-mobile-menu__soc-item--tw
            .container
                .b-header__wrap
                    .b-header__mobile-menu.js-open-menu
                        span
                        span
                        span
                    .b-header__logo
                    .b-header__menu
                        a(href='').b-header__menu-item About
                        a(href='').b-header__menu-item Products
                        a(href='').b-header__menu-item Staff
                        a(href='').b-header__menu-item News
                        a(href='').b-header__menu-item Contacts
                        a(href='').b-header__menu-item.b-header__menu-item--lang Ru
                        a(href='').b-header__menu-item.b-header__menu-item--sssr

        block content


        .b-footer
            .container
                .b-footer__wrap
                    .b-footer__image
                        .pepper.pepper-6.parallax-6

                    .salad.salad--md.salad--md-2
                    .b-footer__copy 2020 © LLC "SHEF". All rights reserved.
                    .b-footer__link Design  -
                        = ' '
                        a(href='http://mahaev.com/' target='_blank') Mahaev Nikita


    script(src="./js/bundle.js?v-5")

