extends _layout

block title
    title Products
block content
    .page.js-parallax
        .b-main-screen.b-main-screen--first.b-main-screen--layout.b-main-screen--catalog
            .b-main-screen__gradient
            .b-main-screen__lines
            .container
                .salad.salad--lg.parallax-1
                .salad.salad--md.parallax-3
                .salad.salad--sm

                .pepper.pepper-1.parallax-6
                .pepper.pepper-2.js-parallax-layer(data-parallax-deep="70")
                .pepper.pepper-3.js-parallax-layer(data-parallax-deep="190")
                .pepper.pepper-4.js-parallax-layer(data-parallax-deep="110")
                    
        .b-pattern.b-pattern--catalog
            .b-pattern__container
                .b-pattern__title.b-pattern__title--center
                    h1 Products

                .b-pattern__content
                    .b-catalog
                        .b-catalog__slider
                            .b-catalog__slider-img-option(data-state='0')
                                img(src='./images/catalog/main-option.png')
                            .b-catalog__slider-img
                                img(src='./images/catalog/main.png')
                            .b-catalog__slider-link
                        .b-catalog__desc
                            .b-catalog__control
                                .swiper-arrow.swiper-button-next.js-next-top
                                .swiper-arrow.swiper-button-prev.js-prev-top
                            .swiper-container.gallery-top
                                .swiper-wrapper
                                    .swiper-slide.b-catalog__desc-item
                                        .b-catalog__desc-img-mobile
                                            img(src='./images/catalog/sliders/s-1.png' alt='')
                                        .b-catalog__desc-img
                                            img(src='./images/catalog/main.png' alt='')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--1-1
                                                img(src='./images/catalog/1/1.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--1-2
                                                img(src='./images/catalog/1/2.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--1-3
                                                img(src='./images/catalog/1/3.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--1-4
                                                img(src='./images/catalog/1/4.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--1-11
                                                img(src='./images/catalog/1/11.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--1-22
                                                img(src='./images/catalog/1/22.png')
                                            .b-catalog__icon.b-catalog__icon--slide.b-catalog__icon--1-12
                                                img(src='./images/catalog/1/12.png')
                                        .b-catalog__desc-text
                                            h3 Functional Ingredients
                                            p Components that add texture and density to the product, by the way, are the most effective in the class.

                                    .swiper-slide.b-catalog__desc-item
                                        .b-catalog__desc-img-mobile
                                            img(src='./images/catalog/sliders/s-2.png' alt='')
                                        .b-catalog__desc-img
                                            img(src='./images/catalog/main.png' alt='')
                                            .b-catalog__icon.b-catalog__icon--slide.b-catalog__icon--2-1
                                                img(src='./images/catalog/2/cat_2-1.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--2-2
                                                img(src='./images/catalog/2/cat_2-2.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--2-3
                                                img(src='./images/catalog/2/cat_2-3.png')
                                        .b-catalog__desc-text
                                            h3 Brine the system
                                            p Pickles are our passion. We managed to make brines that work better than all those that are on the Russian market. And perhaps in the world.


                                    .swiper-slide.b-catalog__desc-item.b-catalog__desc-item--active
                                        .b-catalog__desc-img-mobile
                                            img(src='./images/catalog/sliders/s-3.png' alt='')
                                        .b-catalog__desc-img
                                            img(src='./images/catalog/main.png' alt='')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--3-1
                                                img(src='./images/catalog/3/1.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--3-2
                                                img(src='./images/catalog/3/2.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--3-3
                                                img(src='./images/catalog/3/3.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--3-4
                                                img(src='./images/catalog/3/4.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--3-5
                                                img(src='./images/catalog/3/5.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--3-6
                                                img(src='./images/catalog/3/6.png')

                                        .b-catalog__desc-text
                                            h3 Antioxidants and Preservatives
                                            p It is important not only to produce, but also to preserve. We can do this well.

                                    .swiper-slide.b-catalog__desc-item
                                        .b-catalog__desc-img-mobile
                                            img(src='./images/catalog/sliders/s-4.png' alt='')
                                        .b-catalog__desc-img
                                            img(src='./images/catalog/main.png' alt='')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--4-1
                                                img(src='./images/catalog/4/1.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--4-2
                                                img(src='./images/catalog/4/2.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--4-3
                                                img(src='./images/catalog/4/3.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--4-4
                                                img(src='./images/catalog/4/4.png')
                                        .b-catalog__desc-text
                                            h3 Natural preservatives
                                            p There are people who care about what they are. Many familiar products can be made more natural, which means better!


                                    .swiper-slide.b-catalog__desc-item
                                        .b-catalog__desc-img-mobile
                                            img(src='./images/catalog/sliders/s-5.png' alt='')
                                        .b-catalog__desc-img
                                            img(src='./images/catalog/main.png' alt='')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--5-1
                                                img(src='./images/catalog/5/1.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--5-2
                                                img(src='./images/catalog/5/2.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--5-3
                                                img(src='./images/catalog/5/3.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--5-4
                                                img(src='./images/catalog/5/4.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--5-5
                                                img(src='./images/catalog/5/5.png')

                                        .b-catalog__desc-text
                                            h3 Special alimentary fiber
                                            p There are natural substances that bind moisture irreversibly. These are special products that are more expensive, but many times more effective.

                                    .swiper-slide.b-catalog__desc-item
                                        .b-catalog__desc-img-mobile
                                            img(src='./images/catalog/sliders/s-6.png' alt='')
                                        .b-catalog__desc-img
                                            img(src='./images/catalog/main.png' alt='')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--6-1
                                                img(src='./images/catalog/6/1.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--6-2
                                                img(src='./images/catalog/6/2.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--6-3
                                                img(src='./images/catalog/6/3.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--6-4
                                                img(src='./images/catalog/6/4.png')
                                            .b-catalog__icon.b-catalog__icon--slide.b-catalog__icon--6-5
                                                img(src='./images/catalog/6/5.png')

                                        .b-catalog__desc-text
                                            h3 Spices and flavorings
                                            p But what without them? Add life to the taste and aroma

                                    .swiper-slide.b-catalog__desc-item
                                        .b-catalog__desc-img-mobile
                                            img(src='./images/catalog/sliders/s-7.png' alt='')
                                        .b-catalog__desc-img
                                            img(src='./images/catalog/main.png' alt='')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--7-1
                                                img(src='./images/catalog/7/1.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--7-2
                                                img(src='./images/catalog/7/2.png')
                                            .b-catalog__icon.b-catalog__icon--c.b-catalog__icon--7-3
                                                img(src='./images/catalog/7/3.png')

                                        .b-catalog__desc-text
                                            h3 Enzymatic preparations
                                            p Only we have exclusive enzyme preparations that are oxygen stable transglutaminase


                        .container
                            .b-catalog__subs
                                .b-catalog__relative
                                    .salad.salad--md.js-parallax-layer(data-parallax-deep="200")
                                    .pepper.pepper-2.js-parallax-layer(data-parallax-deep="70")

                                .b-catalog__subs-title Technological directions
                                    br
                                    | company decisions
                                .b-about-icons.js-about-last
                                    .b-about-icons__item
                                        .b-about-icons__item-ico
                                            img(src='./images/catalog/icons/catalog-1.svg' alt='')
                                            img(src='./images/catalog/icons/triangle.svg' alt='' style='transform: rotate(-150deg); left: -30px; top: -10px;')
                                        .b-about-icons__item-text Products without
                                            br
                                            | soybean use
                                    .b-about-icons__item
                                        .b-about-icons__item-ico
                                            img(src='./images/catalog/icons/catalog-2.svg' alt='')
                                            img(src='./images/catalog/icons/triangle.svg' alt='' style='transform: rotate(-195deg); left: -10px; top: 0px;')
                                        .b-about-icons__item-text Maximum output
                                            br
                                            | quality delicacies
                                    .b-about-icons__item
                                        .b-about-icons__item-ico
                                            img(src='./images/catalog/icons/catalog-3.svg' alt='')
                                            img(src='./images/catalog/icons/triangle.svg' alt='' style='transform: rotate(5deg); left: -10px; top: -20px;')
                                        .b-about-icons__item-text Content reduction
                                            br
                                            | index E ingredients
                                    .b-about-icons__item
                                        .b-about-icons__item-ico
                                            img(src='./images/catalog/icons/catalog-4.svg' alt='')
                                            img(src='./images/catalog/icons/triangle.svg' alt='' style='transform: rotate(30deg); left: 10px; top: -20px;')
                                        .b-about-icons__item-text Gluten Free Products

                                    .b-about-icons__item
                                        .b-about-icons__item-ico
                                            img(src='./images/catalog/icons/catalog-5.svg' alt='')
                                            img(src='./images/catalog/icons/triangle.svg' alt='' style='transform: rotate(170deg); left: -15px; top: 0px;')
                                        .b-about-icons__item-text Halal
                                    .b-about-icons__item
                                        .b-about-icons__item-ico
                                            img(src='./images/catalog/icons/catalog-6.svg' alt='')
                                            img(src='./images/catalog/icons/triangle.svg' alt='' style='transform: rotate(-150deg); left: -15px; top: -10px;')
                                        .b-about-icons__item-text Natural cottage cheese
                                            br
                                            | high yield
                                    .b-about-icons__item
                                        .b-about-icons__item-ico
                                            img(src='./images/catalog/icons/catalog-7.svg' alt='')
                                            img(src='./images/catalog/icons/triangle.svg' alt='' style='transform: rotate(20deg); left: -5px; top: -20px;')
                                        .b-about-icons__item-text Preservatives without sorbate
                                            br
                                            | and benzoate
                                    .b-about-icons__item
                                        .b-about-icons__item-ico
                                            img(src='./images/catalog/icons/catalog-8.svg' alt='')
                                            img(src='./images/catalog/icons/triangle.svg' alt='' style='transform: rotate(0deg); left: -5px; top: -10px;')
                                        .b-about-icons__item-text Curing mixture
                                            br
                                            | with nitrate and nitrite

