body {
  font-family: $Lato;
  background-color: $white;
  color: $black;
  position: relative;
  min-width: 320px;
}

.container {
  width: 100%;
  max-width: calc(1300px + 20px*2);
  padding: 0 20px;
  margin: 0 auto;

  @include bp($bp-ipad-768) {
    padding: 0 34px;
  }

  @include bp($bp-540) {
    padding: 0 20px;
  }
}

.page {
  position: relative;
}

.page--404 {
  & + .b-footer {
    @include bp($bp-540) {
      margin-top: 0;

    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
